body {
  margin: 0;
  padding: 0;
  height: 90vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.quote-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 150px;
  margin-right: 150px;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
  font-family: "Lora", serif;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 60px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 700px;
    margin-right: 700px;
    font-family: "Poppins", sans-serif;
  }

  .quote {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 200px;
    margin-right: 200px;
  }

  .author {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100vw;
    font-size: 30px;
    font-weight: bold;
    flex-wrap: wrap;
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 150px;
      border-radius: 10px;
      font-family: "Lora", serif;
      font-size: 1.25em;
    }
  }
}
